<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if title%}
    <title>{{ title }} </title>
    {% else %}
    <title>Robot Controller</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Status</a>
            <a href="{{ url_for('settings') }}">Initial Settings</a>
            <a href="{{ url_for('control') }}">Control</a>
            <a href="{{ url_for('view_experiment_settings') }}">View Experiment Settings</a>
            <a href="{{ url_for('start') }}">Start</a>
        </nav>
        {%if title%}
            <h1>{{ title }} </h1>
        {% else %}
            <h1>Robot Controller</h1>
        {% endif %}
    </header>

{% block content %} {% endblock%}

    <footer>
        &copy; 2025 Robot Controll and Monitoring System
    </footer>
</body>
</html>
