{% extends "base.html" %}
{% block content %}
<div class="container">

    <form method="get" action="/download_experiment_data">
        <button type="submit">Download JSON</button>
    </form>

    <h2>Robot Logs</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Experiment ID</th>
            <th>Experiment Name</th>
            <th>Action Start</th>
            <th>Cycle Number</th>
            <th>Gripper Status</th>
            <th>Error</th>
        </tr>
        {% for log in log %}
            <td>{{ log.id }}</td>
            <td>{{ log.time_stamp }}</td>
            <td>{{ experiment_id }}</td>
            <td>{{ log.experiment_name }}</td>
            <td>{{ log.action_start }}</td>
            <td>{{ log.cycle_number }}</td>
            <td>{{ log.gripper_status }}</td>
            <td>{{ log.error }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}