{% extends "base.html" %}
{% block content%}

    <div class="container">
        <h2>Modify Initial Conditions</h2>
        <form method="post">

            <label for="project_name">Project Name:</label>
            <input type="text" id="project_name" name="project_name" value="{{ settings['project_name'] }}" required>
            
            <label for="person_responsible">Person Responsible:</label>
            <input type="text" id="person_responsible" name="person_responsible" value="{{ settings['person_responsible'] }}" required>        
        
            <label for="thermomixer_time_s">Thermomixer Time (seconds):</label>
            <input type="number" id="thermomixer_time_s" name="thermomixer_time_s" value="{{ settings['thermomixer_time_s'] }}" min="1" required>
            
            <label for="liquid_nitrogen_time_s">LN2 Time:</label>
            <input type="number" id="liquid_nitrogen_time_s" name="liquid_nitrogen_time_s" value="{{ settings['liquid_nitrogen_time_s'] }}" min="1" required>
            
            <label for="number_of_cycles">Number of Cycles:</label>
            <input type="number" id="number_of_cycles" name="number_of_cycles" value="{{ settings['number_of_cycles'] }}" min="1" required>
            
            <button type="submit">Save Settings</button>
        </form>
    </div>
{%endblock%}
